In [3]:
import pandas as pd
import tbapy

In [5]:
tba_token = "LehuLXdj6cRjvAX782iVqYETW2xqlqHD2Gmuu1qCdbtGTJncpSzggstLooE2SBEM"

TEAM_NUMBER = 3082
YEAR = 2024

tba = tbapy.TBA(tba_token)

def get_team_events(team, year):

    event_data = tba.team_events(team=team, year=year)
    team_event_keys = []

    for event in event_data:
        print("Event Name: ", event['name'])
        print("Event Key: ", event['key'])
        print('-'*50)

        team_event_keys.append(event['key'])

    return team_event_keys

team_event_keys = get_team_events(TEAM_NUMBER, YEAR)

def get_event_data(event):
    """
    Get all the teams data from The Blue Alliance API
    Combine it all into one dataframe
    """
    teams_at_events = tba.event_teams(event=event)

    dicts = []

    for team in teams_at_events:

        data = team.items()

        dict = {}
        for (k,v) in data:
            dict[k] = v

        dicts.append(dict)

    df = pd.DataFrame(dicts)

    df = df[['nickname','team_number']]

    df['event'] = event

    return df

# Get event data for all events
nl_reg_df = get_event_data('2024mndu2')
seven_rivers_reg_df = get_event_data('2024wila')

event_df = pd.concat([nl_reg_df, seven_rivers_reg_df], ignore_index=True, sort=False)
event_df.to_csv('eventTeams.csv')

Event Name:  Northern Lights Regional
Event Key:  2024mndu2
--------------------------------------------------
Event Name:  Seven Rivers Regional
Event Key:  2024wila
--------------------------------------------------

In [6]:
event_df

                 nickname  team_number      event
0           MORE Robotics         1714  2024mndu2
1        Redbird Robotics         1716  2024mndu2
2    Round Table Robotics         1792  2024mndu2
3                S.W.A.T.         1806  2024mndu2
4               CORE 2062         2062  2024mndu2
..                    ...          ...        ...
103              RoboCats         9149   2024wila
104     Loretto Lightning         9576   2024wila
105            Player One         9578   2024wila
106            Iron Lions          967   2024wila
107        Hub City STEAM         9676   2024wila

[108 rows x 3 columns]